//BS色彩設定
:root {
  --primary__color: #70aecf;
  --primary__hover__color: #497d97;
  --secondary__color: #878787;
  --secondary__hover__color: #585858;
  --success__color: #46b984;
  --success__hover__color: #27674a;
  --danger__color: #de4453;
  --danger__hover__color: #922a35;
  --warning__color: #dfbe51;
  --warning__hover__color: #9e8a21;
  --info__color: #5ec7bf;
  --info__hover__color: #419790;
}
