@charset "UTF-8";
/* ========== reset & layout start ========== */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  font: 62.5%/1 "微軟正黑體", Microsoft JhengHei, Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  line-height: 1.75;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1560px;
  margin: 0 auto;
}

/* ========== reset & layout end ========== */
.timeline_list .tit, .timeline_list .descript {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* ========== css var start ========== */
.timeline_list {
  --space: 20px;
  --horizontal_number: 4;
  --line_color: aquamarine;
}

/* ========== css var start ========== */
/* ========== timeline start ========== */
.timeline_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
  overflow: hidden;
}

@media (max-width: 991px) {
  .timeline_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.timeline_list .timeline_item {
  width: calc(100% / var(--horizontal_number));
  padding: var(--space);
}

@media (max-width: 991px) {
  .timeline_list .timeline_item {
    width: 100%;
    padding-left: calc(var(--space) * 3);
    position: relative;
  }
}

.timeline_list .timeline_item:last-child .line::before {
  width: 100%;
  left: 50%;
}

@media (max-width: 991px) {
  .timeline_list .timeline_item:last-child .line::before {
    width: 4px;
    left: calc(var(--space) * -1.5);
  }
}

.timeline_list .pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.timeline_list .line {
  height: 20px;
  position: relative;
  margin: 10px 0 8px 0;
}

@media (max-width: 991px) {
  .timeline_list .line {
    position: absolute;
    height: 100%;
    top: 0;
    margin: var(--space) 0;
  }
}

.timeline_list .line::before, .timeline_list .line::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--line_color);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
}

.timeline_list .line::before {
  width: calc(100% + var(--space) * 2);
  height: 4px;
  left: calc(50% + var(--space));
}

@media (max-width: 991px) {
  .timeline_list .line::before {
    width: 4px;
    height: 100%;
    left: calc(var(--space) * -1.5);
    top: 50%;
  }
}

.timeline_list .line::after {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 50%;
}

@media (max-width: 991px) {
  .timeline_list .line::after {
    left: calc(var(--space) * -1.5);
  }
}

.timeline_list .tit {
  font-size: 2rem;
  margin-bottom: 4px;
}

.timeline_list .descript {
  font-size: 1.6rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: unset;
}

/* ========== timeline end ========== */
/*# sourceMappingURL=style.css.map */